# =========================
# Build files
# =========================
.gradle
build/
out/
target/

# =========================
# Gradle wrapper
# =========================
!gradle/wrapper/gradle-wrapper.jar

# =========================
# IDEs
# =========================
.idea
*.iws
*.iml
*.ipr

# =========================
# STS / Eclipse
# =========================
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# Application config (VERY IMPORTANT)
# =========================
application.properties
application.yml

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

